<div class="jumbotron">
  <h1>Labadee Events</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Events client, built with AngularJS
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/admin">Backend</a></p>
</div>

<div class="row marketing">
  <h4>Controllers</h4>
  <p>
    users.js, events.js and admins.js
  </p>

  <h4>Services</h4>
  <p>
    config.js, event.js and user.js
  </p>

  <h4>Authentication</h4>
  <p>The authentication is made thru the Events API and was implemented using AngularJS Interceptors.</p>
</div>
